.big-container {
    height: 100px;
    margin: auto;
    font-size: 20px;
    background-color: lightgray; 
}

.jumbotron {
    height: 100px;
}
.container {
    width: 100%;
    max-width: 960px;
    margin: auto;
    text-align: center;
    align-content: center;
  }

.chat-container {
    width: 500px;
    margin: auto;
    text-align: center;
    align-content: center;
}

.chat-inside {
    text-align: left;
    height: 150px;
    font-size: 12px;    
    overflow: scroll;
}
 
.show-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.show-scroll::-webkit-scrollbar:vertical {
    width: 11px;
}

.show-scroll:-webkit-scrollbar:horizontal {
    height: 11px;
}

.show-scroll::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.show-scroll::-webkit-scrollbar-track { 
    background-color: #fff; 
    border-radius: 8px; 
} 

.big-container {
    text-align: center;
    background-size: cover;
}

.player-container {
    align-content: center;
}

.player-pick {
    background: gray;
    width: 100px;
    height: 100px;
}

.winner {
    font-size: 40px;
    color: blue;
}

.game-container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    margin: auto;
}

img {
    width: 100px;
    height: 100px;
}